.services {

    padding: 100px 0;

    background: linear-gradient(
        180deg,
        #ffffff,
        #f7fbfd
    );
}

.services-container{

    width:85%;

    margin:70px auto 0;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;
}

@media(max-width:992px){

.services-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.services-container{

grid-template-columns:1fr;

}

}