/* ===========================
   Service Card
=========================== */

.service-card {

  --primary:#005F80;
  --light:#EEF4FF;

  position:relative;

  background:#FCFDFF;

  border-radius:22px;

  padding:24px;

  overflow:hidden;

  display:flex;
  flex-direction:column;

  min-height:300px;

  transition:.35s;

  box-shadow:0 15px 35px rgba(15,23,42,.08);
}

/* ===========================
   Top Border
=========================== */

.service-card::before{

  content:"";

  position:absolute;

  top:0;
  left:0;

  width:0;
  height:5px;

  background:var(--primary);

  transition:.35s;
}

.service-card:hover::before{

  width:100%;
}

/* ===========================
   Hover
=========================== */

.service-card:hover{

  transform:translateY(-8px);

  box-shadow:0 20px 45px rgba(21, 36, 101, 0.15);
}

/* ===========================
   Icon
=========================== */

.service-icon{

  width:70px;
  height:70px;

  border-radius:50%;

  background:var(--light);

  display:flex;

  justify-content:center;

  align-items:center;

  margin-bottom:18px;

  transition:.35s;
}

.service-icon svg{

  font-size:30px;

  color:var(--primary);

  transition:.35s;
}

.service-card:hover .service-icon{

  background:var(--primary);

  transform:rotate(8deg);
}

.service-card:hover .service-icon svg{

  color:#fff;
}

/* ===========================
   Heading
=========================== */

.service-card h2{

  font-size:22px;

  color:#171313;

  margin-bottom:12px;
}

/* ===========================
   Paragraph
=========================== */

.service-card p{

  color:#4f5257;

  line-height:1.7;

  margin-bottom:18px;

  font-size:15px;
}

/* ===========================
   Button
=========================== */

.service-card a{

  margin-top:auto;

  text-decoration:none;
}

.service-card .btn{

  background:var(--primary);

  color:#fff;

  border-radius:30px;

  padding:10px 24px;

  transition:.3s;
}

.service-card .btn:hover{

  filter:brightness(.92);
}

/* ===========================
   Individual Colors
=========================== */

/* Quality Automation */

.service-card.qa{

  --primary:#005F80;

  --light:#EEF4FF;
}

/* Salesforce */

.service-card.salesforce{

  --primary:#005F80;

  --light:#F5F3FF;
}

/* Integration */

.service-card.integration{

  --primary:#005F80;

  --light:#ECFDF5;
}

/* ServiceNow */

.service-card.servicenow{

  --primary:172554;

  --light:#ECFEFF;
}

/* Cloud */

.service-card.cloud{

  --primary:#005F80;

  --light:#EFF6FF;
}

/* Product Engineering */

.service-card.product{

  --primary:#EA580C;

  --light:#FFF7ED;
}

/* ===========================
   Responsive
=========================== */

@media(max-width:992px){

.service-card{

min-height:auto;

padding:22px;

}

}

@media(max-width:768px){

.service-card{

padding:20px;

}

.service-card .btn{

width:100%;

}
}