.tech-logo{
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.3s;
}

.tech-logo img{
    width:170px;
    height:90px;
    object-fit:contain;
}

.tech-logo:hover{
    transform:scale(1.08);
}